<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- After including Three.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <!-- Include GLTFLoader.js -->
    <script src="https://unpkg.com/three@0.128.0/examples/js/loaders/GLTFLoader.js"></script>

</head>

<body>
    <div id="backgroundContainer">
        <div class="section-buttons">
            <a href="{{ url_for('videos') }}" class="button">Videos</a>
            <a href="{{ url_for('paintings') }}" class="button">Paintings</a>
            <a href="{{ url_for('illustrations') }}" class="button">Illustrations</a>
            <a href="{{ url_for('sketchbooks') }}" class="button">Sketchbooks</a>
            <a href="{{ url_for('info') }}" class="button">Info</a>
            <a href="{{ url_for('shop') }}" class="button">Shop</a>
        </div>
        <!-- <div id="mainContainer">
            <div id="logoContainer">
                
            </div>

        </div> -->
    </div>
    <!-- WebGL content container -->
    <!-- <div id="homeScene"></div> -->

    <!-- Navigation buttons for sections -->


    <!-- Correctly included webgl_logo.js once using Flask's url_for method -->
    <script src="{{ url_for('static', filename='js/webgl_logo.js') }}"></script>

</body>

</html>